<section>
  @for (tequila of tequila; track $index) {
    <hr>
    <div class="bebida">
    <H2>{{tequila.strDrink}}</H2>
    
    <p><span>Instrucciones: <span>{{tequila.strInstructions}}</span></span></p>
    <h4>Ingredientes: </h4>
    <ul id="list">
      @for (ingrediente of tequila.ingredients; track $index) {
        <li>{{ingrediente}}</li>
      }
  </ul>
    <img [src]="tequila.strDrinkThumb" alt="">
    <h5>Categoría: {{tequila.strCategory}}</h5>
  </div>
  }

</section>